

form[name='infoFrm'] {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #1a1a1a;
}

form[name='updateFrm'] {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #1a1a1a;
}




.name, .id, .pw, .pw2 {
      resize: none;            /* 더 못 늘림 */
      width: 73%;              /* form 안에 꽉 차게 */
      box-sizing: border-box;  /* padding, border 포함한 전체 너비 */
    }

.pw::placeholder,
.pw2::placeholder
{
    letter-spacing:normal;
}
.pw, .pw2 {
    letter-spacing: 15px;
}

.idch {
    display: flex;
    justify-content: center;    /* 수평 중앙 */
    align-items: center;        /* 수직 중앙 */
    background-color: #2D7868; 
    border: none;               /* border-style: hidden → none 권장 */
    width: 160px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: #fafafa;
    border-radius: 7px;
    cursor: pointer;
    margin-left:10px;
    line-height: 1;             /* ✅ 텍스트 줄간격 줄이기 */
    padding: 0;                 /* ✅ 내부 여백 제거 */
}

#sendVerificationCode {
    display: flex;
    justify-content: center;    /* 수평 중앙 */
    align-items: center;        /* 수직 중앙 */
    background-color: #2D7868; 
    border: none;               /* border-style: hidden → none 권장 */
    
    width: 160px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: #fafafa;
    border-radius: 7px;
    cursor: pointer;
    margin-left:10px;
    line-height: 1;             /* ✅ 텍스트 줄간격 줄이기 */
    padding: 0;                 /* ✅ 내부 여백 제거 */
}


#verifyCodeButton {
    display: flex;
    justify-content: center;    /* 수평 중앙 */
    align-items: center;        /* 수직 중앙 */
    background-color: #2D7868; 
    border: none;               /* border-style: hidden → none 권장 */
    
    width: 160px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: #fafafa;
    border-radius: 7px;
    cursor: pointer;
    margin-left:10px;
    line-height: 1;             /* ✅ 텍스트 줄간격 줄이기 */
    padding: 0;                 /* ✅ 내부 여백 제거 */
}


.group_table th {
     vertical-align: middle;
}













/* 예외 설정 */
input[type="radio"],
input[type="checkbox"] {
    appearance: revert;
}


input[type="radio"]:focus,
input[type="checkbox"]:focus {
    appearance: revert;
    outline: none;
}

.email1, .email2, .verification_code {
    width:200px;
}

.rhfqoddl {
    margin:10px;
}

.email_select{
    margin-left:8px; width:200px; height:45px;
}

.divgender{
    display: flex;
    align-items: flex-start;
    gap: 40px; margin-top: 2px;

}

.lagen{
    display: flex; align-items: center; gap: 5px; font-weight: 400; color: #1a1a1a;
}

#favo {
    vertical-align: top;
}

.readonly-input {
  background-color: #f5f5f5;
  color: #666;
}

.smafi{
    color: #A0A0A0; margin-left: 10px;
}

#pw-default-message{
    color: #A0A0A0; display: block; margin-left:10px; margin-top: 5px;
}