@charset "UTF-8";



/* 검색창 스타일 */
.search-container { display: flex; align-items: center; gap: 8px; margin-top: 30px; justify-content: flex-start;}
.search-container select, .search-container input {height:45px; padding-left:15px; border: 1px solid #ccc; font-size: 15px; }
.search-container input{box-sizing: border-box;}
.search-container button {background-color:white; height:45px; width:66px; line-height: 45px; font-size: 13px; font-weight:500; color:#1a1a1a;border: 1px solid #ccc; }

/* 글쓰기 버튼 */
.write-button {background-color: white;height: 45px;width: 80px;line-height: 45px;font-size: 13px;font-weight: 500;color: #1a1a1a;border: 1px solid #ccc;text-align: center;
    text-decoration: none; display: flex;justify-content: center;align-items: center;
}

/* 댓글 수 스타일 */
.c-count { font-size: 13px; color:#035fe0; vertical-align: middle; margin-left: 5px; }


/*-------------------------------------------------- 페이지네이터---------------------------------------------------- */
.pg-container {display: flex;justify-content: center;margin: 50px 0 20px 0;width: 100%;}
.paginator {display: inline-flex;align-items: center;line-height: 1;}
/* 버튼 그룹 */
.pg-btns {display: inline-flex; margin: 0 10px;}
.pg-btns button {border: none;margin: 0;padding: 12px 0;width: 24px;background: transparent;color: #ccc;cursor: pointer;font-size: 30px;line-height: 0;}
.pg-btns button:disabled {cursor: default;}
.pg-btns button {color: #ccc;}
/* 페이지 번호 */
.pg-numbers {display: inline-block; margin: 0 10px;}
.pg-numbers a { margin: 0 5px; color: #ccc;font-size: 20px;cursor: pointer;text-decoration: none;}
.pg-numbers a.active {color: #1a1a1a;}
/* SVG 아이콘 */
.pg-btns svg {width: 16px;height: 16px;fill: currentColor;}







/* -------------------------- 여기까지 공용 -------------------------- */






/* ---- NLFL ---- */

/* 게시글 목록 (Table) 스타일 */
.post-table { width: 100%; border-collapse: collapse; }
.post-table th, .post-table td { padding: 15px 0; border-bottom: 1px solid #eee; text-align: center; line-height:22px;}
.post-table th { height:29.5px;  }
.post-table td {color: #636363; height:50px;}

.post-table thead { background-color: #f1f3f5; font-weight:700;font-size:18px;}
.post-table tbody { font-size: 16px;}

.post-table td:nth-child(2) { text-align: left; padding-left:15px; font-weight: 400;}

.post-table .post-title a { text-decoration: none; color: #1a1a1a;}




/* ---- VL ---- */

/* 테이블 스타일 */
.vote-table { width: 100%; border-collapse: collapse; }
.vote-table th, .vote-table td {padding: 15px 0; border-bottom: 1px solid #eee; text-align: center;line-height:22px;}
.vote-table th { background-color: #f1f3f5; height:29.5px; }
.vote-table td { height:50px; color: #636363;}

.vote-table thead { background-color: #f1f3f5; font-weight: 700; font-size:18px;}
.vote-table tbody { font-size: 16px;}

.vote-table td:nth-child(2) {text-align: left; padding-left:15px; font-weight: 400;}


.vote-title-link { text-decoration: none; color: #1a1a1a; font-weight: 400;}

/* 투표상태창 */
.vote-status {width:60px; display: inline-block; color: #fff; padding: 8px 15px; font-size: 15px; font-weight: bold; text-align: center; }
.vote-status.active { color : #035fe0;}
.vote-status.closed { color : #1a1a1a; }
