@charset "UTF-8";

@font-face {
    font-family: 'KccHanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}