{% extends "base.html" %}
{% load static %}
{% block title %}교환독서{% endblock %}

{% block extra_css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type='text/css' href="/static/css/3my_group_list.css">
<link rel="stylesheet" href="/static/css/paginator.css" />
<meta name="csrf-token" content="{{ csrf_token }}">

{% endblock extra_css %}

{% block content %}
    <!-- 여기에 메인 컨텐츠 입력 -->
          <nav><!--전체틀-->
          <!--왼쪽사이드-->
        <!--카테고리 바뀐부분 시작-->
        <div class="left_side">
          <ul class="category">
            <li class="icon"><a href='{% url "mypage:review" %}'><i class="fa-solid fa-book"></i>내 리뷰<span>({{my_review_count}})</span></a></li>
            <li class="icon"><a href='{% url "mypage:Bmark" %}'><i class="fa-solid fa-book-bookmark"></i>북마크<span>({{my_bookmark_count}})</span></a></li>
            <li class="icon checked"><i class="fa-solid fa-rotate"></i>교환독서<span id="my_group_count">({{my_group_count}})</span></li>
          </ul>
        </div>
        <!--카테고리 바뀐부분 끝-->

          <!--유저네임 메인틀-->
          <div class="main">
            <!--프로필 부분-->
              <div class="user_info">
                  <div class="profile_name">
                    <div class="nickname">
                        <i class="fa-solid fa-circle-user"></i>
                      {% if request.session.user_id%}
                        <span>{{ request.session.user_name }}님</span>
                      {% endif %}
                    </div>
                    <div class="user_name">
                        {% comment %} <span><!--<i class="fa-solid fa-user-lock"></i>*-->차단한 사용자</span> {% endcomment %}
                        {% comment %} <span class="user_name_gap"> | </span> {% endcomment %}
                        <a href='{% url "member:member_update" user_id %}'><span>정보수정 · 계정삭제</span></a>
                    </div> 
                  </div>
              </div>
              <div class="bookshelves">


                  <!--내 그룹 목록-->
                  <div class="my_group">
                    {% for g in sharegroups%}
                      <div class="bookbox" data-id="{{g.id}}"data-group-id="{{ g.id }}" data-book-id="{{ b.book_id.book_id }}">
                        <button type="button" class="outBtn" data-group-id="{{g.id}}"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                          <div class="bookbox_cover">
                              <img src="{{g.book.cover}}"
                              onerror="this.onerror=null;this.src='/static/images/defaultimg.png';"
                              >
                          </div>
                          <div class="group_info">
                              <div class="booktitle">
                                <span id="group_name">{{g.group_name}}</span>
                                <span id="group_count">({{g.membercount}}/{{g.max_member}})</span>
                              </div>
                              <div class="bookauthor">{{g.book.title}}</div>
                              <div class="bookauthor">{{g.description}}</div>
                              <div class="bookauthor">{{g.admin.name}}</div>
                          </div>
                      </div>
                    
                    {% endfor %}
                      {% comment %} <div class="bookbox">
                        <button class="outBtn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                          <div class="bookbox_cover">
                              <img src="/static/images/책2.jpg">
                          </div>
                          <div class="group_info">
                              <div class="booktitle">
                                <span id="group_name">그룹명</span>
                                <span id="group_count">(8/8)</span>
                              </div>
                              <div class="bookauthor">책이름</div>
                              <div class="bookauthor">그룹소개</div>
                              <div class="bookauthor">그룹장 닉네임</div>
                          </div>
                      </div> {% endcomment %}                
                  </div>
              </div>
                <!-- paginator -->
                <div class="pg-container">
                    <div class="paginator">

                        <!-- 첫 페이지, 이전 페이지 버튼 -->
                        <div class="pg-btns">
                        {% if sharegroups.has_previous %}
                            <a href="?page=1">
                            <button>
                                <!-- << 아이콘 -->
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M21.9323 22.5362C22.6042 21.8162 22.6042 20.7122 21.8842 20.0162L13.5562 12.0002L23.1562 2.76019L21.4762 1.00819L10.0282 12.0002L21.4763 22.9922L21.9323 22.5122L21.9323 22.5362Z" fill="currentColor"/>
                                <path d="M12.4786 22.5362C13.1506 21.8162 13.1506 20.7122 12.4306 20.0162L4.10256 12.0002L13.7266 2.76019L12.0466 1.00819L0.598563 12.0002L12.0226 22.9922L12.4786 22.5122L12.4786 22.5362Z" fill="currentColor"/>
                                </svg>
                            </button>
                            </a>
                            <a href="?page={{ sharegroups.previous_page_number }}">
                            <button>
                                <!-- < 아이콘 -->
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M16.3325 1.47C17.0125 2.18 16.9925 3.3 16.2825 3.98L7.9425 12L17.5625 21.25L15.8825 23L4.4425 12L15.8825 1L16.3325 1.47Z" fill="currentColor"/>
                                </svg>
                            </button>
                            </a>
                        {% else %}
                            <button disabled>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M21.9323 22.5362C22.6042 21.8162 22.6042 20.7122 21.8842 20.0162L13.5562 12.0002L23.1562 2.76019L21.4762 1.00819L10.0282 12.0002L21.4763 22.9922L21.9323 22.5122L21.9323 22.5362Z" fill="currentColor"/>
                                <path d="M12.4786 22.5362C13.1506 21.8162 13.1506 20.7122 12.4306 20.0162L4.10256 12.0002L13.7266 2.76019L12.0466 1.00819L0.598563 12.0002L12.0226 22.9922L12.4786 22.5122L12.4786 22.5362Z" fill="currentColor"/>
                            </svg>
                            </button>
                            <button disabled>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M16.3325 1.47C17.0125 2.18 16.9925 3.3 16.2825 3.98L7.9425 12L17.5625 21.25L15.8825 23L4.4425 12L15.8825 1L16.3325 1.47Z" fill="currentColor"/>
                            </svg>
                            </button>
                        {% endif %}
                        </div>

                        <!-- 페이지 번호들 -->
                        <div class="pg-numbers">
                        {% for p in sharegroups.paginator.page_range %}
                            {% if sharegroups.number == p %}
                            <a href="?page={{ p }}" class="active">{{ p }}</a>
                            {% else %}
                            <a href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <!-- 다음 페이지, 마지막 페이지 버튼 -->
                        <div class="pg-btns">
                        {% if sharegroups.has_next %}
                            <a href="?page={{ sharegroups.next_page_number }}">
                            <button>
                                <!-- > 아이콘 -->
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M7.6675 1.47C6.9875 2.18 7.0075 3.3 7.7175 3.98L16.0575 12L6.4375 21.25L8.1175 23L19.5575 12L8.1175 1L7.6675 1.47Z" fill="currentColor"/>
                                </svg>
                            </button>
                            </a>
                            <a href="?page={{ sharegroups.paginator.num_pages }}">
                            <button>
                                <!-- >> 아이콘 -->
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M2.06775 1.46381C1.39575 2.18381 1.39575 3.28781 2.11575 3.98381L10.4437 11.9998L0.84375 21.2398L2.52375 22.9918L13.9718 11.9998L2.52375 1.00781L2.06775 1.48781V1.46381Z" fill="currentColor"/>
                                <path d="M11.5214 1.46381C10.8494 2.18381 10.8494 3.28781 11.5694 3.98381L19.8974 11.9998L10.2734 21.2398L11.9534 22.9918L23.4014 11.9998L11.9774 1.00781L11.5214 1.48781V1.46381Z" fill="currentColor"/>
                                </svg>
                            </button>
                            </a>
                        {% else %}
                            <button disabled>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M7.6675 1.47C6.9875 2.18 7.0075 3.3 7.7175 3.98L16.0575 12L6.4375 21.25L8.1175 23L19.5575 12L8.1175 1L7.6675 1.47Z" fill="currentColor"/>
                            </svg>
                            </button>
                            <button disabled>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M2.06775 1.46381C1.39575 2.18381 1.39575 3.28781 2.11575 3.98381L10.4437 11.9998L0.84375 21.2398L2.52375 22.9918L13.9718 11.9998L2.52375 1.00781L2.06775 1.48781V1.46381Z" fill="currentColor"/>
                                <path d="M11.5214 1.46381C10.8494 2.18381 10.8494 3.28781 11.5694 3.98381L19.8974 11.9998L10.2734 21.2398L11.9534 22.9918L23.4014 11.9998L11.9774 1.00781L11.5214 1.48781V1.46381Z" fill="currentColor"/>
                            </svg>
                            </button>
                        {% endif %}
                        </div>

                    </div>
                </div>
                <!-- paginator 끝 -->
          </div>
      </nav>   

  </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/3my_group_list.js' %}"></script>

{% endblock extra_js %}
