{% extends "base.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/join2.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'css/Share_AddGroup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/member_delete.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block title %}회원정보수정{% endblock %}
{% block content %}
<div class="feed__content">
    <!-- 메시지 표시 -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="feed__add">
        <div class="feed__add_title">
            <span>{{ member.name }}님 정보 수정</span>
            <div class='deletebox'>
            <button type="button" id='member_delete'>계정삭제</button>
            </div>
        </div>
        <!-- form (updateFrm)-->
        <form action="{% url 'member:member_update_process' %}" method="post" name="updateFrm">
          {% csrf_token %}
            <table class="group_table">
                <tbody>
                    <tr>
                        <th>
                            <label>이름</label>
                            <span>*</span>
                        </th>
                        <td><input type="text" name="name" class="name" value="{{ member.name }}" required></td>
                    </tr>
                    <tr>
                        <th>
                            <label>아이디</label>
                            <span>*</span>
                        </th>
                        <td>
                          <input type="text" name="id" class="id readonly-input" value="{{ member.id }}" readonly>
                          <small class="smafi">아이디는 변경할 수 없습니다.</small>
                        </td>
                    </tr>
                    <tr >
                        <th>
                            <label>비밀번호</label>
                        </th>
                        <td>
                          <input type="password" name="pw" class="pw" autocomplete="off" placeholder="{% if is_kakao_member %}카카오 회원은 수정할 수 없습니다.{%else%}변경하려면 새 비밀번호를 입력하세요 (8자 이상){% endif %}"
                          {% if is_kakao_member %}style="display:none"{% endif %}>
                          <small id="pw-default-message"{% if is_kakao_member %}style="font-size:15px;"{% endif %}>{% if is_kakao_member %}카카오 회원은 수정할 수 없습니다.{%else%}비밀번호를 변경하지 않으려면 비워두세요.{% endif %}</small>
                        </td>
                    </tr>
                    <tr >
                        <th>
                            <label>비밀번호 확인</label>
                        </th>
                        <td><input type="password" name="pw2" class="pw2" autocomplete="off" placeholder="{% if is_kakao_member %}카카오 회원은 수정할 수 없습니다.{%else%}새 비밀번호 확인{% endif %}"
                          {% if is_kakao_member %}style="display:none"{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>이메일</label>
                            <span>*</span>
                        </th>
                        <td>
                          <input type="text" name="email1" class="email1" value="{{ email1 }}" readonly>
                          <p class="rhfqoddl">@</p>
                          <input type="text" name="email2" class="email2" value="{{ email2 }}" readonly>
                          <select class="email_select" readonly>
                            <option>직접입력</option>
                            <option {% if email2 == 'gmail.com' %}selected{% endif %}>gmail.com</option>
                            <option {% if email2 == 'naver.com' %}selected{% endif %}>naver.com</option>
                            <option {% if email2 == 'daum.net' %}selected{% endif %}>daum.net</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>생년월일</label>
                        </th>
                        <td><input type="date" name="birth" value="{{ member.birth }}"></td>
                    </tr>
                    <tr>
                      <th>
                        <label>성별</label>
                      </th>
                      <td>
                        <div class="divgender">
                          <label class="lagen">
                            <input type="radio" class="gra" name="gender" value="남자" {% if member.gender == '남자' %}checked{% endif %}>
                            남성
                          </label>
                          <label class="lagen">
                            <input type="radio" class="gra" name="gender" value="여자" {% if member.gender == '여자' %}checked{% endif %}>
                            여성
                          </label>
                          <label class="lagen">
                            <input type="radio" class="gra" name="gender" value="미선택" {% if member.gender == '미선택' %}checked{% endif %}>
                            미선택
                          </label>
                        </div>
                      </td>
                    </tr>
                    
                    <tr>
                        <th id="favo"><label>관심 분야</label></th>
                        <td>
                            <div class="group_keyword">
                                <div class="group_keyword_input">
                                    <input type="text" name="group_keyword_input" placeholder="직접 입력">
                                    <div class="add_tag_btn">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <div class="group_keyword_output">
                                    
                                </div>
                                
                                <input type="hidden" name="group_keywords_hidden" id="group_keywords_hidden" value="{{ member.genres }}">
                                <div class="tags">
                                    <a href="#">#소설</a>
                                    <a href="#">#시/에세이</a>
                                    <a href="#">#인문</a>
                                    <a href="#">#역사/문화</a>
                                    <a href="#">#종교</a>
                                    <a href="#">#가정/육아</a>
                                    <a href="#">#요리</a>
                                    <a href="#">#건강</a>
                                    <a href="#">#취미/실용/스포츠</a>
                                    <a href="#">#여행</a>
                                    <a href="#">#자기계발</a>
                                    <a href="#">#경제/경영</a>
                                    <a href="#">#정치/사회</a>
                                    <a href="#">#기술/공학</a>
                                    <a href="#">#과학</a>
                                    <a href="#">#외국어</a>
                                    <a href="#">#컴퓨터/IT</a>
                                    <a href="#">#취업/수험서</a>
                                    <a href="#">#대학교재</a>
                                    <a href="#">#유아(0~7세)</a>
                                    <a href="#">#어린이(초등)</a>
                                    <a href="#">#초등참고서</a>
                                    <a href="#">#청소년</a>
                                    <a href="#">#중/고등참고서</a>
                                    <a href="#">#예술/대중문화</a>
                                    <a href="#">#잡지</a>
                                    <a href="#">#만화</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="group_button">
              <button type="button" id="group_button_1">취소</button>
              <button type="submit" id="group_button_2">수정 완료</button>
            </div>
          </form>
    </div>

</div>
{% endblock %}
{% block extra_js %}

<script src="{% static 'js/member_update.js' %}"></script>
<script src="{% static 'js/member_delete.js' %}"></script>
{% endblock %}